.muikku-connect-field {
  position: relative;
  @include flexbox;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  
  &[disabled="disabled"] {
    opacity: 0.5;
    cursor: default !important;
    
    .muikku-connect-field-counterpart:hover,
    .muikku-connect-field-term:hover {
      color: $startup-dark-font-color;
      background: $startup-dark-color;
      cursor: default;
    }
    
  }
  
}

.muikku-connect-field-counterparts,
.muikku-connect-field-terms {
	display: block;
	@include flex-grow(1);
	@include flex-shrink(0);
	@include flex-basis(48%);
	position: relative;
}

.muikku-connect-field-gap {
	@include flex-grow(0);
	@include flex-shrink(1);
	@include flex-basis(4%);
}

.muikku-connect-field-number {
  background: $CFfieldNumberBGColor;
  border: 1px solid #eee;
  border-radius: 20px;
  color: $taskBoxTextColor;
  font-size: 12px;
  left: -10px;
  line-height: 12px;
  margin: 15px 0 0;
  min-width: 12px;
  padding: 5px;
  position: absolute;
  text-align: center;
  z-index: 11;
  font-weight: 400;
}

.muikku-connect-field-correct-number {
  background: $CFCorrectFieldNumberBGColor;
  border: 1px solid #fff;
  border-radius: 20px;
  color: $CFCorrectFieldNumberTextColor;
  font-size: 12px;
  right: -10px;
  line-height: 12px;
  margin: 15px 0 0;
  min-width: 12px;
  padding: 5px;
  position: absolute;
  text-align: center;
  z-index: 11;
  font-weight: 400;
}

.muikku-connect-field-counterpart,
.muikku-connect-field-term {
  align-items: center;  
  background: $startup-dark-color;
  border: 1px solid $startup-dark-color;
  box-sizing: border-box;
  color: $taskBoxTextColor;
  font-size: 16px;
  height: 56px;
  line-height: 20px;
  margin: 0 4px 8px 4px;
  padding: 8px 10px;
  position: relative;
  transition: background 0.3s ease-in-out;
  transition: height 0.2s ease-in-out;
  @include flexbox;  

  &:hover {
    color: #000;
    border: 1px solid $startup-alt-dark-color;
    background: $startup-dark-color;
    
  }
  
  .term-full-text,
  .counterpart-full-text {
    background-color: $startup-dark-color;
    border-radius: 0;  
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    height: auto;
    left: 0;
    min-height: 56px;
    position: absolute;
    padding: 8px 10px;
    right: 0;
    top: 0;
    z-index: 9;

  }
  
}

.term-placeholder,
.counterpart-placeholder {
  height: 56px;
  padding: 0;
  margin: 0 4px 8px;
}

.muikku-connect-field-term {
  justify-content: flex-end;  
  text-align: right;
}

.muikku-connect-field-counterpart {
  justify-content: flex-start;
  text-align: left;
}

.ui-sortable-placeholder {
  padding: 8px 21px;
  margin: 4px;
  border-radius: 0;
  background: $CFPlaceHolderBGColor;
  height: 1.7em;
}

.muikku-connect-field-term {
	cursor: pointer;
	
	&.muikku-connect-field-edited {
	  color: $startup-light-font-color;
	  background: $startup-alt-dark-color;
	}
	
	&.muikku-connect-field-term-selected {
    border: 1px solid $startup-alt-dark-color;
    color: $startup-dark-font-color;
    font-weight: 400;
	}
	
}

.muikku-connect-field-counterpart {
	text-align: left;
  cursor: pointer;
	
	 &.muikku-connect-field-edited {
	   color: $startup-light-font-color;
     background: $startup-alt-dark-color;
  }
  
  &.ui-sortable-helper {
    cursor: grab;
  }
  
}
