@font-face {
  font-family: 'Axis';
  src: url('/fonts/axis/axis.eot'); /* IE9 Compat Modes */
  src: url('/fonts/axis/axis.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/axis/axis.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/axis/axis.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/axis/axis.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@import url('https://fonts.googleapis.com/css?family=Gentium+Basic')