
@font-face {
  font-family: 'Axis';
  src: url('//cdn.muikkuverkko.fi/fonts/Axis/1.0.0/Axis.eot'); /* IE9 Compat Modes */
  src: url('//cdn.muikkuverkko.fi/fonts/Axis/1.0.0/Axis.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//cdn.muikkuverkko.fi/fonts/Axis/1.0.0/Axis.woff') format('woff'), /* Pretty Modern Browsers */
       url('//cdn.muikkuverkko.fi/fonts/Axis/1.0.0/Axis.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('//cdn.muikkuverkko.fi/fonts/Axis/1.0.0/Axis.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@import url('//fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i')