@import "_vars-startup-lukio";

form * {
  outline: none;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="url"],
textarea {   
  font-weight: 300;
  font-family: $environment-font-family;
  border-radius: 2px;
  border:none;
  border-bottom: 2px solid $startup-theme-color; 
  font-size: 18px;     
  color: $formFontColor;
  background-color: $formBackgroundColor; 
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  
  &:hover {
    color: $formFontColorFocus;
  }
  
  &:focus { 
    color: $formFontColorFocus;
  }

}

input[type="color"] {
  width: 40px;
  font-size: 40px;
  height: 38px;
  outline: none;
  cursor: pointer;
  border: 0; 
}

input[type="checkbox"], 
input[type="radio"] {
  margin: 0 2px;
  
  &:hover {
    @include elementFocus(rgba(0, 153, 255,0.6));
  }
  
}

select {
  color: $formFontColor;
  font-size: 16px;    
  font-weight: 300;
  font-family: $environment-font-family;
}

label {
  font-weight: 400;
/*   font-size: 16px; */
  margin: 5px 0 0;
  display: block;
  padding: 5px 5px 5px 0;
}

// Every main functionality's search has to be added here as 
// input elements does not allow use of :after nor :before pseudo classes */

.mf-search-field {
  position: relative;
  
  input.search {
    padding: 10px 10px 10px 40px !important;
  }
  
  &::before {
    display: inline-block;
    content: "\e61c";
    font-family: 'muikku' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 26px;
    height: 26px;
    width: 26px;
    color: #ddd;
    position: absolute;
    left: 10px;
    top: 12px;
  }
  
}