@import "fonts";
@import "vars_backup";
@import "_vars-startup-lukio";
@import "styles";
@import "forms";
@import "animations";
@import "dialog";
@import "flex-dialog";
@import "buttons";
@import "notif-queue";
@import "connectionlost";
@import "_workspace_progress_menu";


html {
  height: 100%;
  background:none;
}

body {

  background-color: $body-background-color;
  color: $body-font-color; 
  font-size:18px;
  font-weight:300;
  padding: 0 0 50px;
  margin: 0;
  font-family: $environment-font-family;
  line-height:1.5em; /* Set line-height:1 to element when there's a need to override */
  color:#2c2c2c;
}


h1,h2,h3,h4,h5,h6 {
  color: $environment-header-font-color;
  font-family: $environment-header-font-family;
  text-transform: uppercase;
  margin: 0 0 0.5em;
  font-weight: 300;
}


/* TODO: This blockquote is also in the flex-main.scss - refactoring needed */

blockquote{
  border-left:5px solid #ccc;
  padding-left:20px;  
}


.disable-page-scrolling {
  height:100%;
  overflow:hidden; 
}

.ui-widget-overlay {
  background:#000;
  opacity:0.5;
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:100%;
}

#content {
  position:relative;
  padding-top:0.01em;
}


/* Navigation Icons Notifier */

.dock-notification {
  background-color: $environment-static-navigation-notifier-background-color;
  border-radius: 1px;
  border: 1px solid $environment-static-navigation-notifier-border-color;
  color: $environment-static-navigation-notifier-font-color;
  font-size: 12px;
  height: 16px;
  min-width: 10px;
  padding: 0 3px;
  text-align: center;
}

/* Navigation Icons tooltip */

[class^="icon-"] span, [class*=" icon-"] span {
  display: inline-block;
  font-family: $environment-header-font-family !important;
  padding-left: 4px;
}

[class^="icon-"], [class*=" icon-"] {
  text-decoration:none;  
}

.logged-user {
  position: relative;
  float: right;
  font-weight: 400;

  .lu-picture {
    border-radius: 100%;
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    margin: 0 5px 0 auto;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 48px;
    z-index: 15; 
    
    object,
    img {
      height: 44px;
      width: 44px;
    }
    
  }

  .lu-info-container {
    background: $environment-logged-in-background-color;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  
    .lu-user-name {
    
      @include no-select;
      color: $environment-logged-in-font-color;
      font-family: $environment-header-font-family;
      float: left;
      height: 1.5em;
      margin: 15px 6px 14px 20px;
      max-width: 270px;
      min-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      
      a {
        color: $environment-logged-in-font-color;
        text-decoration: none;
      }
      
    }
    
    .lu-user-name-button-value {
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
    }
          
    .lu-actions {
      float: left;
      height: 1.5em;
      padding: 13px 6px 10px;
      
      a {
        margin: 0 6px;
      }
      
    }
    .lu-action-signout {
      font-size: 22px;
      &::before {
        color: $startup-dark-font-color;
      }
    }
    
    
    a[class*="lu-action"] {
      color: $environment-logged-in-font-color;
      text-decoration: none;
    }

  }

}



/* Header */
#header {
  max-width: $siteWidth;
  margin: 0 auto;
  height: 120px;
  color: $environment-alt-font-color;
  position: relative;  
}

#headerLogoTextContainer {
  background-image: url('/gfx/up-logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  left: 0px;
  top: 0;
  height: 110px;
  background-size: 105px 70px;
}

/* Language */
.site-locale {
  float: right;
  margin: 0 10px 0 0;
  position: relative;
  
  .selected-language {
    background: $of-navigation-locale-selected-background-color;
    border-radius: 100%;
    box-sizing: border-box;
    color: $of-navigation-locale-selected-text-color;
    cursor: pointer;
    font-size: 22px;
    font-weight: 300;
    height: 48px; 
    line-height: 1;
    overflow: hidden;
    padding: 12px 10px;
    text-align: center;
    transition: border-radius 0.1s ease-in-out;
    width: 48px;
    z-index: 15;
  }
  
  .language-selection-container {
    background: $of-navigation-locale-selection-background-color;
    border-radius: 5px;
    box-shadow: 0 10px 20px $of-navigation-locale-selection-boxshadow-color;
    display: none;
    min-width: 100px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 54px;
    z-index: 99;
    
    &::after {
      border: solid transparent;
      border-color: rgba(73, 73, 73, 0);
      border-bottom-color: $of-navigation-locale-selection-arrow-background-color;
      border-width: 4px;
      bottom: 100%;
      content: " ";
      height: 0;
      margin-left: -4px;
      pointer-events: none;
      position: absolute;
      right: 12px;
      width: 0;
    }
    
  }
  
  a {  
    border-radius: 5px;
    color: $of-navigation-locale-selection-link-color;   
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    padding: 10px;  
    text-decoration: none;
    white-space: nowrap; 
    
    &:hover {
      background: #000;
      text-decoration: none;
    }
    
  }
  
}
  
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-width: 310px;
  padding:0 5px;
  
  .footer-custom-bg {
    background: $environment-bottom-bar-background-color;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .footer-custom-content {
    position: relative;
    z-index: 2;
  }
  
  .footer-predefined-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $environment-bottom-bar-background-color;
    z-index: 1;
  }
  
  .footer-predefined-content {
    position: relative;
    z-index: 2;
    
    a {
      text-decoration: none;
    }
    
  }
  
}

#helpdesk {
  font-weight: 400;
  font-size: 14px;
  color: $environment-bottom-bar-font-color;
  padding: 5px 0;
  text-align: right;
}

#guides {
  font-weight:400;
  font-size:14px;
  color:#fff;
  
  a {
    color:#b3e9ff;
  }
  
}

/* Navigation */


#staticNavigationWrapper {
  min-width: 320px;
  z-index: 12;
  position: relative;
}

.static-navigation-bg {
  background: $environment-static-navigation-background-color;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 13;
  border-top: 1px solid $environment-static-navigation-border-top-color;
  border-bottom: 1px solid $environment-static-navigation-border-bottom-color;
}

#staticNavigation {
  display: flex;
  align-items: center;
  max-width: $siteWidth;
  
  margin: 0 auto;
  z-index: 14;
  padding: 10px;
  position: relative;
}

/* Navigation Icons */



div[class*='dock-static-navi-button'] > a,
div[class*='dock-static-navi-button'] > div, 
div[class*='dock-dynamic-navi-button'] > a {
  font-family: $environment-header-font-family;  
  font-size: 12px;
  text-transform: uppercase;
  position:relative;
  color: $environment-static-navigation-icon-color;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 5px 10px 5px 5px;
  display: inline-block;
}

div[class*="dock-static-navi"] {
  display: inline-block;
  margin-right: 15px;
  
  &.active-trail {
    a {
     color: $startup-theme-color;
    }
  }
}





/* Content where everything goes */
main.content {
  margin:30px 0 0;
}

#workspaceDockWrapper,
#workspaceFullscreenReadingDockWrapper,
#workspaceEditDockWrapper {
  border-radius:3px;
  width:60px;
  margin-bottom:10px; 
}

#workspaceDockWrapper {
  background: $startup-dark-color;
}
  
#workspaceFullscreenReadingDockWrapper {
  background:$startup-theme-color;
}
  
#workspaceEditDockWrapper {
  background:$startup-theme-color;
}
  
#workspaceDock,
#workspaceFullscreenReadingDock,
#workspaceEditDock,
#workspaceEvaluationDockWrapper {
  text-align:center;
}

/* WORKSPACE GLOBAL MATERIAL PAGE */
article.workspace-materials-view-page {
  background:#fff;
  padding:20px;
  margin:30px 0;
  
  p {
    margin:1em 0 1em 0;
  }
  
}

@import "workspace_navigation_wide"; 
@import "workspace_navigation_narrow"; 
@import "mobile";
@import "mobile_workspace";
@import "tablet";
