@import "fonts";
@import "vars";
@import "_vars-startup-lukio";
@import "vars_backup";
@import "styles";
@import "forms";
@import "animations";
@import "dialog";
@import "flex-dialog";
@import "buttons";
@import "notif-queue";
@import "connectionlost"; 
@import "environment_print";

html {
  height: 100%;
  background: none;
}

body {
  margin: 0;
  padding: 0 0 50px;
  font-family: $environment-font-family;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  background-color: $body-background-color;
  color: $body-font-color;
}

dl {
  padding: 10px;  
  font-size: 14px;
}



dt {
  font-weight: 600;
}

.disable-page-scrolling {
  height: 100%;
  overflow: hidden; 
}

.ui-widget-overlay {
  background: $environment-widget-overlay-background-color;
  opacity: 0.5;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

[class^="icon-"] span, [class*=" icon-"] span {
  display: inline-block;
  font-family: $environment-font-family !important;
  padding-left: 4px;
  vertical-align: top;
}

[class^="icon-"], [class*=" icon-"] {
  text-decoration: none;  
}

/* Header */
#header {
  max-width: $siteWidth;
  margin: 0 auto;
  height: 120px;
  color: $environment-alt-font-color;
  position: relative;  
}

#headerLogoTextContainer {
  background-image: url('/gfx/up-logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  left: 0px;
  top: 0;
  height: 110px;
  background-size: 105px 70px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-width: 310px;
  padding:0 5px;
  
  .footer-custom-bg {
    background: $environment-bottom-bar-background-color;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .footer-custom-content {
    position: relative;
    z-index: 2;
  }
  
  .footer-predefined-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $environment-bottom-bar-background-color;
    z-index: 1;
  }
  
  .footer-predefined-content {
    position: relative;
    z-index: 2;
    
    a {
      text-decoration: none;
    }
    
  }
  
}

#helpdesk {
  font-weight: 400;
  font-size: 14px;
  color: $environment-bottom-bar-font-color;
  padding: 5px 0;
  text-align: right;
}

#guides {
  font-weight: 400;
  font-size: 14px;
  
  a {
    color: $environment-bottom-bar-link-color;
  }
  
}

/* Login */

.loginbox-container {
  margin: 10px 0 0;
}

.login {
  position: relative;
  float: right;
}

.forgotpassword-link-container {
  clear: both;
  text-align: right;
  padding: 5px 0 0;
  
  .forgotpassword-link {
    color: $environment-sign-in-link-color;
/*     text-shadow: $environment-sign-in-font-shadow; */
  }
  
}

.site-locale {
  float: right;
  margin: 0 10px 0 0;
  position: relative;
  
  .selected-language {
    font-family:  $environment-header-font-family;
    background: $startup-dark-color;
    border-radius: 100%;
    box-sizing: border-box;
    color: $startup-theme-color;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    height: 48px; 
    line-height: 1;
    overflow: hidden;
    padding: 17px 10px;
    text-align: center;
    transition: border-radius 0.1s ease-in-out;
    width: 48px;
    z-index: 15;
  }
  
  .language-selection-container {
    background: $startup-light-color;
    border-radius: 5px;
    border: 1px solid  $startup-dark-color;
    display: none;
    min-width: 100px;
    position: absolute;
    text-align: center;
    top: 54px;
    right: 7px;
    z-index: 99;
    
    &::after {
      bottom: 100%;
      right: 12px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(73, 73, 73, 0);
      border-bottom-color: $startup-dark-color;
      border-width: 4px;
      margin-left: -4px;
    }
    
  }
  
  a {  
    border-radius: 5px;
    color: $startup-theme-color;   
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    padding: 10px;  
    text-decoration: none;
    white-space: nowrap;     
    
    &:hover {
      background: $startup-dark-color;
      text-decoration: none;
    }
    
  }
  
}

.logged-user {
  position: relative;
  float: right;
  font-weight: 400;

  .lu-picture {
    border-radius: 100%;
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    margin: 0 5px 0 auto;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 48px;
    z-index: 15; 
    
    object,
    img {
      height: 48px;
      width: 48px;
    }
    
  }

  .lu-info-container {
    background: $environment-logged-in-background-color;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  
    .lu-user-name {
    
      @include no-select;
      color: $environment-logged-in-font-color;
      font-family: $environment-header-font-family;
      float: left;
      height: 1.2em;
      margin: 12px 6px 12px 20px;
      max-width: 270px;
      min-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      
      a {
        color: $environment-logged-in-font-color;
        font-size: 15px;
        text-decoration: none;
      }
      
    }
    
    .lu-user-name-button-value {
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
    }
          
    .lu-actions {
      float: left;
      height: 1.5em;
      padding: 13px 6px 10px;
      
      a {
        margin: 0 6px;
      }
      
    }
    .lu-action-signout {
      font-size: 22px;
      &::before {
        color: $startup-dark-font-color;
      }
    }
    
    
    a[class*="lu-action"] {
      color: $environment-logged-in-font-color;
      text-decoration: none;
    }

  }

}

/* Navigation */
#staticNavigationWrapper {
  min-width: 320px;
  z-index: 12;
  position: relative;
}

.static-navigation-bg {
  background: $environment-static-navigation-background-color;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: 13;
  border-top: 1px solid $environment-static-navigation-border-top-color;
  border-bottom: 1px solid $environment-static-navigation-border-bottom-color;
}

#staticNavigation {
  display: flex;
  align-items: center;
  max-width: $siteWidth;
  
  margin: 0 auto;
  z-index: 14;
  padding: 10px;
  position: relative;
}

/* Navigation Icons */



div[class*='dock-static-navi-button'] > a,
div[class*='dock-static-navi-button'] > div, 
div[class*='dock-dynamic-navi-button'] > a {
  font-family: $environment-header-font-family;  
  font-size: 12px;
  text-transform: uppercase;
  position:relative;
  color: $environment-static-navigation-icon-color;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 5px 10px 5px 5px;
  display: inline-block;
}

div[class*="dock-static-navi"] {
  display: inline-block;
  margin-right: 15px;
  
  &.active-trail {
    a {
     color: $startup-theme-color;
    }
  }
}


/* Navigation Icons Notifier */

.dock-notification {
  background-color: $environment-static-navigation-notifier-background-color;
  border-radius: 1px;
  border: 1px solid $environment-static-navigation-notifier-border-color;
  color: $environment-static-navigation-notifier-font-color;
  font-size: 12px;
  height: 16px;
  min-width: 10px;
  padding: 0 3px;
  text-align: center;
}

/* Content where everything goes */

main.content {
  margin: 20px 0 0;
}

/* After Personalization Box will be redesigned and moved to proper .scss*/
.box {
/*   box-shadow: $environment-content-box-shadow; */
  background: $environment-background-color;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  
  &.box-max-width ul li {
    max-width: 279px;
  }
    
  .empty {
    font-style: italic;
  }
  
}

.frontpage-continue-studies {
  background-color: $startup-theme-color;
  border-radius: 2px;
  color: $startup-light-color;
  font-family: 'Axis';
  font-size: 15px;
  margin: 0 5px;
  padding: 5px 8px 3px;
  text-transform: uppercase;
  
  &:hover {
    text-decoration: none;
  }
}

.box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.box ul li {
  padding: 5px 0;
  word-wrap: break-word;
}

/* Frontpage Boxes When User Not Logged In */
#siteInfo {
  
}

#siteGuide {
  
}

/* Frontpage Boxes When User Logged In  */
#visits {
  
}

#workspaces {
  margin: 1.5em 0 0;
}

#messages {
  
  li.unread a {
    font-weight: 400;
  }

}

#announcements {
  
  .fp-announcement {
  
    > div {
      padding-left:10px;  
    }
    
    &.environment {
      border-left: 5px solid #fda726;
    }
    
    &.workspace {
      border-left: 5px solid #e163ed;
    }
    
    &:not(:first-child) {
      margin-top:10px;
    }
    
    .fp-announcement-info-workspace {
      font-size:10px;
      white-space: nowrap;
      overflow: hidden;
      max-width: 260px;
      text-overflow: ellipsis;
    }
    
  }
  
}

/* Headers */
h1,h2,h3,h4,h5,h6 {
  color: $environment-header-font-color;
  font-family: $environment-header-font-family;
  text-transform: uppercase;
  margin: 0 0 0.5em;
  font-weight: 300;
}

h1 {
  font-size: 29px;
}
  
h2 {
  font-size: 26px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size:15px;
  font-weight:400;
}

h6 {
  font-size: 13px;
  font-weight: 400;
}

/* Page title for mainfunctions */
h2.main-functionality-page-title {
  color: $environment-page-title-font-color;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0 13px 13px;
  border-left:none;
}

a {
  color: $environment-link-color;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
  
}

/* Subscript & Superscript*/
sub {
  vertical-align: sub;
  font-size: 70%;
}

sup {
  vertical-align: super;
  font-size: 70%;
}

blockquote{
  border-left: 5px solid $environment-border-highlight-color;
  padding-left: 20px;  
}

@import "mobile";
@import "tablet";
