@import "base";
@import "workspaces";
@import "_vars-startup-lukio";




  
  .workspace-generic-view-title {
    background: #fff;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
  }
  
  /* WORKSPACE PERMISSIONS VIEW */
    .userGroupPermissionsWidget {
      margin-left:20px;
    }      
  table#environmentUserRolePermissionsTable {
    border:0;
    border-collapse:collapse;

  
    td.workspace-permission-column-label {
      padding:2px 4px;
      text-transform:uppercase;
      background:$startup-dark-color;
    }
    
    td.workspace-permission-column-data {
      padding:4px;
    }
    
    td.workspace-permission-column-input {
      padding:4px;
      text-align:center;
    }
  
  }
  

